:root {
    font-family: "Open sans", sans-serif;
    font-size: 16px;

    scroll-behavior: smooth;

    --nav-h: 3.5rem;

    --text-large: 16px;
    --text-medium: 14px;
    --text-small: 12px;

    --dark-grey: #4B4B4B;
    --grey: #E5E5E5;
    --light-grey: #f9f9f9;

    --accent-color-dark: #BD2C00;
    --accent-color: #ff3b00;
    --accent-color-medium: #ffa98f;
    --accent-color-light: #ffd8cc;

    --section-gradient: linear-gradient(194.01deg, #FFF4F0 9.6%, #FFFFFF 65.88%);


}

h1,h2,h3,h4, .fontTitle {
    font-family: "Fira Code", monospace;
}

h1 { 
    font-size: 4rem;
    line-height: calc(4rem * 1.35);
}
h2 { 
    font-size: 3rem;
    line-height: calc(3rem * 1.35);
}
h3 { 
    font-size: 2.5rem;
    line-height: calc(2.5rem * 1.35);
}
h4 { 
    font-size: 1.3rem;
    line-height: calc(1.3rem * 1.35);
}

body { 
    font-size: 1rem;
    margin: 0;
}

a { color: var(--accent-color); }
a:hover { color: var(--accent-color-dark); }

section {
    padding: 4rem 8rem;
}


@media (max-width: 899px) {
    :root { font-size: 14px; }
    body { font-size: 1.14rem; }
    section { padding: 4rem 2rem; }
}
@media (max-width: 499px) {
    :root { font-size: 12px; }
    body { font-size: 1.17rem; }
}
@media (min-width: 1200px) { section { padding: 4rem 10rem;} }
@media (min-width: 1300px) { section { padding: 4rem 13rem;} }
@media (min-width: 1400px) { section { padding: 4rem 16rem;} }
@media (min-width: 1500px) { section { padding: 4rem 19rem;} }
@media (min-width: 1600px) { section { padding: 4rem 22rem;} }
@media (min-width: 1700px) { section { padding: 4rem 25rem;} }
@media (min-width: 1800px) { section { padding: 4rem 28rem;} }
@media (min-width: 1900px) { section { padding: 4rem 31rem;} }
@media (min-width: 2000px) { section { padding: 4rem 34rem;} }
@media (min-width: 2100px) { section { padding: 4rem 37rem;} }
@media (min-width: 2200px) { section { padding: 4rem 40rem;} }

/* -------------------------- */
/* PICTOGRAMME MATERIAL ICONS */
.material-icons {
    display: inline-flex;
    vertical-align: middle;
  }
/* -------------------------- */